[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
coverage = "*"
pytest-cov = "*"
starlette = "*"
uvicorn = "*"
jsonschema = "*"
requests = "*"
pyyaml = "*"
swagger-ui-py = "*"
starlette-apispec = "*"
aiofiles = "*"
marshmallow-dataclass = "*"
marshmallow-enum = "*"

[requires]
python_version = "3.8"
